@import '@styles/variables.scss';

.mainLayout {
  &__content {
    min-height: calc(100vh - $navbar-desktop-height);
    &__content {
      padding: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mainLayout {
    &__content {
      min-height: calc(100vh - $navbar-mobile-height);
      &__content {
        padding: 20px;
      }
    }
  }
}
