/*
#################################################
C O L O R S
#################################################
*/

$white: #ffffff;
$black: #000000;
$shipper-red: rgb(255, 70, 70);
$gray: rgb(99, 102, 106);
