@import '@styles/variables.scss';

.home {
  &__manage {
    background-color: $white;
    padding: 30px;
    border-radius: 5px;
    &__title {
      font-size: 24px;
      font-weight: 800;
      color: $shipper-red;
    }
  }
}
