@import '@styles/variables.scss';

.card {
  width: 300px;
  background-color: $white;
  display: inline-block;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  &__header {
    padding: 20px;
    border-bottom: 1px solid $light-gray;
    &__driverId {
      color: $gray;
      &__id {
        color: $shipper-red;
        font-weight: 800;
        letter-spacing: 0.1px;
      }
    }
    &__icon {
      font-size: 24px;
      color: $gray;
    }
  }
  &__content {
    &__desktop {
      padding: 20px;
      &__avatar {
        margin-bottom: 10px;
      }
      &__entry {
        margin-top: 10px;
        &__label {
          color: $gray;
        }
        &__value {
          font-weight: 600;
        }
      }
    }
    &__mobile {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    display: block;
    &__content {
      &__desktop {
        display: none;
      }
      &__mobile {
        padding: 20px;
        display: block;
        &__entry {
          &__label {
            color: $gray;
          }
          &__value {
            font-weight: 600;
          }
        }
      }
    }
  }
}
