@import '@styles/variables.scss';

.navbar {
  width: 100%;
  height: $navbar-desktop-height;
  padding: 30px;
  &__burger {
    display: none;
    margin-right: 20px;
    &__icon {
      font-size: 18px;
      color: $gray;
    }
  }
  &__logo {
    width: 150px;
  }
  &__helloUser {
    font-size: 24px;
    &__userName {
      color: $shipper-red;
    }
  }
  &__avatar {
    margin-left: 10px;
  }
  &__drawer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: $navbar-mobile-height;
    padding: 20px;
    &__burger {
      display: inline;
    }
    &__helloUser {
      display: none;
    }
    &__drawer {
      display: inline;
    }
  }
}
